<div class="container">
  <h1 class="m-3">Welcome</h1>
  <form action="/api/productos" method="post">
    <div class="mb-3">
      <label for="FormControlInput1" class="form-label">Titulo</label>
      <input
        type="text"
        name="title"
        class="form-control"
        id="FormControlInput1"
        placeholder="Ingrese un titulo"
      />
    </div>
    <div class="mb-3">
      <label for="FormControlInput2" class="form-label">Thumbnail</label>
      <input
        type="text"
        name="thumbnail"
        class="form-control"
        id="FormControlInput2"
        placeholder="Ingrese un thumbnail"
      />
    </div>
    <div class="mb-3">
      <label for="FormControlInput3" class="form-label">Precio</label>
      <input
        type="text"
        name="price"
        class="form-control"
        id="FormControlInput3"
        placeholder="Ingrese un precio"
      />
    </div>
    <button class="btn btn-primary">Agregar</button>
  </form>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <form action="/api/productos" method="get">
      <button class="btn btn-outline-primary">Obtener productos</button>
    </form>
  </div>
</div>